{% extends "encyclopedia/layout.html" %}

{% block title %}
Edit Page
{% endblock %}

{% block body %}
<h1>Edit a Page</h1>


<form action="{% url 'update' %}" method="POST">
    {% csrf_token %}
    <div>
        <label>{{ page_name }}</label>
        <input type="hidden" name="title" value="{{ page_name }}">
    </div>

    <div>
        <label>Edit content</label>
        <textarea name="text" rows="10">{{ page }}</textarea>
    </div>
    <button type="submit">Update</button>
</form>
{% endblock %}